/*
  TEXT DEFAULT
*/

%h {
  margin: 0;
  font-weight: inherit;
}

h1 {
  font-size: 2.75rem;
  @extend %h;
}

h2 {
  font-size: 1.375rem;
  @extend %h;
}

h3 {
  @extend %h;
}

h4 {
  @extend %h;
}

h5 {
  @extend %h;
}

h6 {
  @extend %h;
}

a {
  color: inherit;
  text-decoration: inherit;
}